[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-crispy-forms = "==1.7.2"
pytz = "==2019.2"
sqlparse = "==0.3.0"
Django = "==2.2"
django-registration = "*"
gunicorn = "*"
whitenoise = "==3.3.1"

[requires]
python_version = "3.7"
